WASM: addRR() TTL not set as expected in JS


Before:

```
$ dig @zenr.io testapb.zenr.io A
;; ANSWER SECTION:
testapb.zenr.io.        0       IN      A       1.1.1.1
testapb.zenr.io.        0       IN      A       1.1.1.2
```

Testing multiple deleteRR() & addRR() through browser console:
```
const newUpdater = goFuncs["newUpdater"]
const u13 = newUpdater("Ktestapb.zenr.io.+015+53765", "zenr.io", "doh.zenr.io")
u13.deleteRR("testapb.zenr.io 0 IN A 1.1.1.1")
u13.deleteRR("testapb.zenr.io 0 IN A 1.1.1.2")
u13.addRR("testapb.zenr.io 60 IN A 1.1.2.1")
u13.addRR("testapb.zenr.io 60 IN A 1.1.2.2")
u13.addRR("testapb.zenr.io IN A 1.1.2.3")
u13.signedUpdate().then(ok => console.log(`okay! ${ok}`)).catch(err => alert(err.message))
```
Expected:
```
$ dig @zenr.io testapb.zenr.io A
;; ANSWER SECTION:
testapb.zenr.io.        60    IN      A       1.1.2.2
testapb.zenr.io.        60    IN      A       1.1.2.3
testapb.zenr.io.        ?       IN      A       1.1.2.1
```
Got:
```
$ dig @zenr.io testapb.zenr.io A
;; ANSWER SECTION:
testapb.zenr.io.        3600    IN      A       1.1.2.3
testapb.zenr.io.        3600    IN      A       1.1.2.1
testapb.zenr.io.        3600    IN      A       1.1.2.2
```


It seems that differing TTLs within a RRset has been deprecated.

After researching this behaviour, I came across a reference to [RFC2181 section 5.2] which states:

>  Resource Records also have a time to live (TTL).  It is possible for
   the RRs in an RRSet to have different TTLs.  No uses for this have
   been found that cannot be better accomplished in other ways.  This
   can, however, cause partial replies (not marked "truncated") from a
   caching server, where the TTLs for some but not all the RRs in the
   RRSet have expired.

>   Consequently the use of differing TTLs in an RRSet is hereby
   deprecated, the TTLs of all RRs in an RRSet must be the same.

...

> Should an authoritative source send such a malformed RRSet, the
client should treat the RRs for all purposes as if all TTLs in the
   RRSet had been set to the value of the lowest TTL in the RRSet.  In
   no case may a server send an RRSet with TTLs not all equal.
